<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
  body {
    background: #ddd;
  }
</style>
<section class="p-5 mb-4 shadow shadow-sm" style="background-color: #DDD;">
  <b class="h1">List Of Tasks</b>
</section>
<table class="table container">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">EndDate</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody *ngIf="(tasks | async) as tasks">
    <tr *ngFor="let task of tasks">
      <th scope="row">{{ task.title }}</th>
      <td>{{ task.status }}</td>
      <td>{{ task.description }}</td>
    </tr>
  </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
